#header {
  border-bottom: 1px solid white;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3%;
}

.git-logo {
  width: 20%;
  margin: 2% 0 2% -3%;
}

.form-horizontal {
  display: inline-block;
  text-align: center;
  margin: 0 0 0 10%;
}

.form-horizontal input {
  background-color: #292929;
  border: 1px solid white;
  color: white;
  line-height: 39px;
  width: 400px;
  font-size: 20px;
  margin: 30px 20px 0 0;
  border-radius: 4px;
}

.form-horizontal .btn {
  background-color: #e05151;
  width: 150px;
  border: 1px solid #e05151;
  line-height: 30px;
  font-size: 20px;
  color: white;
  font-weight: 100;
  margin-top: -6px;
}
div .list-group li {
  background-color: #292929;
  border: 1px solid white;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
}

div a {
  font-size: 20px;
  margin-left: 20px;
  color: white;
}
